In [1]:
import pandas as pd
import numpy as np
import scipy
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics

In [2]:
dataset = np.load('train_dataset.npz')

In [3]:
X, y = dataset['arr_0'], dataset['arr_1']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, shuffle=True)

In [4]:
X_train = pd.DataFrame(X_train)
y_train = pd.DataFrame(y_train)
X_test = pd.DataFrame(X_test)
y_test = pd.DataFrame(y_test)

In [5]:
tree_clf = tree.DecisionTreeClassifier(max_depth=10)

In [6]:
fit_tree = tree_clf.fit(X_train, y_train)

In [7]:
pred_Tr = fit_tree.predict(X_train)
probsTr = fit_tree.predict_proba(X_train)
pred_p_Tr = probsTr[:,1]

In [8]:
attack_dataset_tr = pd.DataFrame(pred_p_Tr)
attack_dataset_tr['target'] = 1
attack_dataset_tr

              0  target
0      0.464441       1
1      0.514719       1
2      0.501776       1
3      0.501776       1
4      0.458171       1
...         ...     ...
68635  0.501776       1
68636  0.514719       1
68637  0.514719       1
68638  0.514719       1
68639  0.320312       1

[68640 rows x 2 columns]

In [9]:
fpr, tpr, threshold = metrics.roc_curve(y_train, pred_p_Tr)
roc_auc = metrics.auc(fpr, tpr)
roc_auc

0.5592831194136187

In [10]:
pred_Tr = fit_tree.predict(X_test)
probsTr = fit_tree.predict_proba(X_test)
pred_p_Tr = probsTr[:,1]

In [11]:
attack_dataset_ts = pd.DataFrame(pred_p_Tr)
attack_dataset_ts['target'] = 0
attack_dataset_ts

              0  target
0      0.501776       0
1      0.501776       0
2      0.888889       0
3      0.507679       0
4      0.464441       0
...         ...     ...
68636  0.458171       0
68637  0.501776       0
68638  0.525162       0
68639  0.514719       0
68640  0.501776       0

[68641 rows x 2 columns]

In [12]:
fpr, tpr, threshold = metrics.roc_curve(y_test, pred_p_Tr)
roc_auc = metrics.auc(fpr, tpr)
roc_auc

0.5152067386787031

In [13]:
attack_dataset = attack_dataset_tr.append(attack_dataset_ts)
attack_dataset

              0  target
0      0.464441       1
1      0.514719       1
2      0.501776       1
3      0.501776       1
4      0.458171       1
...         ...     ...
68636  0.458171       0
68637  0.501776       0
68638  0.525162       0
68639  0.514719       0
68640  0.501776       0

[137281 rows x 2 columns]